html {
  font-size: 16px;
}

body {
  border:  solid 1px rgba(255,255,255,0.1);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  font-family: 'pingfangzd';
}

@font-face {
  font-family: 'pingfangzd';
  src: url("PINGFANG MEDIUM.TTF") format("truetype");
}
#tbs-nav--menu {
  display: none;
}

#tbs-nav--menu .nav-item {
  float: none;
  margin-left: 0;
}

#tbs-nav--menu .nav-item > a {
  color: #fff;
  text-decoration: none;
}

#tbs-nav--menu .nav-item > span {
  display: inline-block;
  margin-right: 0.75rem;
  cursor: pointer;
  vertical-align: middle;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #78909c;
  -webkit-mask-repeat: no-repeat;
}

#tbs-nav--menu .nav-item > span.tbs-nav--option-btn {
  -webkit-mask-image: url(../img/option.png);
}

#tbs-nav--menu .nav-item > span.tbs-nav--debug-btn {
  -webkit-mask-image: url(../img/debug.png);
}

#tbs-nav--menu .nav-item > span.tbs-nav--support-btn {
  -webkit-mask-image: url(../img/support.png);
}

.tbs-nav {
  background-color: #4e5052;
  padding: 1.25rem 2rem 1.5rem 1.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  min-height: 4.25rem;
}

.tbs-nav > .navbar-brand {
  width: 11.25rem;
  position: absolute;
}

.tbs-nav > .navbar-toggler {
  margin-top: -0.25rem;
  color: #fff;
}

.tbs-nav--btn {
  position: fixed;
  top: 1.25rem;
  right: 2rem;
  z-index: 1000;
}

.tbs-nav--btn > span {
  display: inline-block;
  margin-left: 1.625rem;
  cursor: pointer;
  vertical-align: middle;
  background-size: 100% 100%;
  position: relative;
  background-color: #fff;
}

.tbs-nav--btn > span:hover {
  background-color: #56c5f3;
}

.tbs-nav--btn > span::after {
  content: '';
  display: block;
  cursor: pointer;
  position: absolute;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  margin-top: -50%;
}

.tbs-nav--btn > span.tbs-nav--min-btn {
  width: 0.9375rem;
  height: 0.125rem;
  -webkit-mask-image: url(../img/minimize.png);
}

.tbs-nav--btn > span.tbs-nav--max-btn {
  width: 0.875rem;
  height: 0.6875rem;
  -webkit-mask-image: url(../img/maximize.png);
}

.tbs-nav--btn > span.tbs-nav--close-btn {
  width: 1rem;
  height: 0.75rem;
  -webkit-mask-image: url(../img/close.png);
}

.tbs-main {
  position: relative;
  display: flex;
}

.tbs-main .tbs-sidebar {
  flex: 0 0 12rem;
  background-color: #f4f6f9;
  border-right: 1px solid #dadfe6;
  box-shadow: inset -32px 0 16px -16px rgba(224, 229, 236, 0.4);
}

.tbs-main .tbs-sidebar > .nav-sidebar a {
  height: 4.875rem;
  padding: 1.8125rem 0;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  display: list-item;
}

.tbs-main .tbs-sidebar > .nav-sidebar a > .tbs-sidebar--word {
  font-size: 1.25rem;
  line-height: 1.25rem;
  height: 1.25rem;
  color: #78909c;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
}

.tbs-main .tbs-sidebar > .nav-sidebar a > .tbs-sidebar--btn {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  margin-right: 0.75rem;
  cursor: pointer;
  background-color: #78909c;
  -webkit-mask-repeat: no-repeat;
}

.tbs-main .tbs-sidebar > .nav-sidebar a > .tbs-sidebar--btn.tbs-sidebar--option-btn {
  -webkit-mask-image: url(../img/option.png);
}

.tbs-main .tbs-sidebar > .nav-sidebar a > .tbs-sidebar--btn.tbs-sidebar--debug-btn {
  -webkit-mask-image: url(../img/debug.png);
}

.tbs-main .tbs-sidebar > .nav-sidebar a > .tbs-sidebar--btn.tbs-sidebar--support-btn {
  -webkit-mask-image: url(../img/support.png);
}

.tbs-main .tbs-sidebar > .tbs-about {
  position: absolute;
  bottom: 0;
  margin-left: 2.625rem;
  margin-bottom: 1.75rem;
  line-height: 1.25rem;
  font-size: 0;
  cursor: pointer;
}

.tbs-main .tbs-sidebar > .tbs-about > img {
  vertical-align: middle;
}

.tbs-main .tbs-sidebar > .tbs-about > .tbs-about--word {
  color: #78909c;
  font-size: 1.25rem;
  margin-left: .75rem;
  vertical-align: middle;
  text-decoration: none;
}

.tbs-main .tbs-main--wrap {
  flex: 1;
}

.tbs-main .tbs-main--wrap > iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.tbs-main .tbs-main--wrap > .tbs-main--content {
  padding: 4rem;
  box-sizing: border-box;
  font-size: 0;
  display: block;
}
.tbs-main .tbs-main--wrap  .tbs-main--content.nopadding{
  box-sizing: border-box;
  font-size: 0;
  display: block;
  padding:0;
}
.tbs-main .tbs-main--wrap > .tbs-main--content > h1 {
  font-size: 2.375rem;
}

.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step {
  padding: 1rem 0;
}

.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li {
  position: relative;
  padding: 2.625rem 0;
  border: 0;
  cursor: pointer;
}

.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li[data-toggle=collapse]:not(.collapsed) .tbs-step--collapse-icon {
  transform: rotateX(180deg);
}

.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li .tbs-step--tag {
  display: inline-block;
  width: 4.3125rem;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 10px;
  margin-right: 1rem;
  text-align: center;
  background-color: #60b9fb;
  vertical-align: middle;
}

.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li .tbs-step--tag.disable {
  background-color: #cdd0d1;
  cursor: default;
}

.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li .tbs-step--tag.fail {
  background-color: #f58395;
}

.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li .tbs-step--title {
  display: inline-block;
  width: 50%;
  color: #263238;
  font-size: 1.25rem;
  line-height: 1.5rem;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 1rem;
}
.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li .tbs-step--title > span.tbs-step--progress-number {
  color: #229bf7;
  margin-left: 10px;
  font-size: 1rem;
}

.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li .tbs-step--title > span.tbs-step--fail-word {
  color: #fb4f6b;
  margin-left:10px;
  font-size: 1rem;
}

.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li .tbs-step--collapse-icon {
  position: absolute;
  width: 18px;
  top: 49.5px;
  right: 0;
}

.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li > .tbs-step--content {
  position: relative;
  margin-top: 1.5rem;
  margin-left: 5.25rem;
  height: 0;
  opacity: 0;
}

.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li > .tbs-step--content.in, .tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li > .tbs-step--content.collapsing {
  height: auto;
  opacity: 1;
}

.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li > .tbs-step--content  .tbs-step--content-top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  position: relative;
}
.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li > .tbs-step--content  .tbs-step--content-top.flex-start {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  position: relative;
}

.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li > .tbs-step--content > .tbs-step--content-top  .tbs-step--content-left  p{
  margin-bottom: 0.75rem;
  font-size:0.9375rem;
  color: #263238;
}

.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li > .tbs-step--content > .tbs-step--content-top > .tbs-step--content-img {
  flex: 0 0 37.625rem;
  display: flex;
  padding-right: 4.5rem;
  flex-flow: row-reverse  wrap;
}

.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li > .tbs-step--content > .tbs-step--content-top > .tbs-step--content-img > .img-wrap {
  height: 11rem;
  margin-bottom: 0.5rem;
  position: relative;
  margin-left:0.5rem;
}

.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li > .tbs-step--content > .tbs-step--content-top > .img-wrap {
  margin-bottom: 0.5rem;
  position: relative;
  margin-right:3.75rem;
  font-size:0.9375rem;
  color: #263238;
  width:17.625rem;
}
.img-wrap .img{
  position: relative;
  height: 11rem;

}
.img-wrap p{
  margin-top:0.875rem;
  margin-bottom: 0;
  line-height:1.5625rem;
}
.img-wrap .img img{
  width:100%;
}

.icon-blue{
  position: absolute;
  bottom:1px;
  left:1px;
  width:36px;
  height: 36px;
  line-height: 48px;
  font-size:15px;
  color:#fff;
  display: block;
  background: url(../img/icon-blue.png) 0 0 no-repeat;
  padding-left: 6px;
}
.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li > .tbs-step--content  .tbs-step--recheck-btn {
  border-radius: 2px;
  background-image: linear-gradient(90deg, rgba(53, 192, 250, 0) 0%, rgba(53, 192, 250, 0.6) 100%);
  background-color: #229bf7;
  width: 7.5rem;
  line-height: 2.25rem;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  margin-top: 2rem;
}

.tbs-main .tbs-main--wrap > .tbs-main--content > .tbs-step > li::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #efefef;
  transform: translateY(-1px);
}

.tbs-main .tbs-main--wrap > .tbs-main--content .tbs-begin--btn {
  float: right;
  margin-top:0.125rem ;
  margin-bottom: 3.5rem;
  color: #fff;
  border-radius: 2px;
  font-size: 1.25rem;
  width: 13.625rem;
  line-height: 3.5rem;
  text-align: center;
  cursor: pointer;
  background-color: #229bf7;
  position: relative;
}

.tbs-main .tbs-main--wrap > .tbs-main--content .tbs-begin--btn.disable {
  background-color: #90cdfb;
  cursor: default;
}

.tbs-main .tbs-main--wrap > .tbs-main--content .tbs-begin--btn.disable:hover {
  background-color: #90cdfb;
}

.tbs-main .tbs-main--wrap > .tbs-main--content .tbs-begin--btn.restart:hover {
  background-color: #229bf7;
}

.tbs-main .tbs-main--wrap > .tbs-browser--bar {
  height: 3.5rem;
  padding: 1rem 0 1rem 3.875rem;
  border-bottom: 1px solid #d5dae0;
  background-color: #f5f6fa;
}

.tbs-main .tbs-main--wrap > .tbs-browser--bar > .tbs-browser--bar-btn {
  height: 1.5em;
}

.tbs-main .tbs-main--wrap > .tbs-browser--bar > .tbs-browser--bar-btn > span {
  display: inline-block;
  height: 1.5em;
  margin-right: 4rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: #7f96a2;
}

.tbs-main .tbs-main--wrap > .tbs-browser--bar > .tbs-browser--bar-btn > span:hover:not(.disable) {
  background-color: #229bf7;
}

.tbs-main .tbs-main--wrap > .tbs-browser--bar > .tbs-browser--bar-btn > span.back {
  width: 0.8125rem;
  height: 1.375rem;
  -webkit-mask-image: url(../img/back.png);
}

.tbs-main .tbs-main--wrap > .tbs-browser--bar > .tbs-browser--bar-btn > span.forward {
  width: 0.8125rem;
  height: 1.375rem;
  -webkit-mask-image: url(../img/forward.png);
}

.tbs-main .tbs-main--wrap > .tbs-browser--bar > .tbs-browser--bar-btn > span.disable {
  cursor: default;
  opacity: 0.4;
}

.tbs-main .tbs-main--wrap > .tbs-browser--bar > .tbs-browser--bar-btn > span.home {
  width: 1.375rem;
  height: 1.4375rem;
  -webkit-mask-image: url(../img/home.png);
}

.tbs-main .tbs-main--wrap > .tbs-browser--bar ~ .baron__track .baron__bar {
  margin-top: 3.5rem;
}

.tbs-dialog--alert {
  width: 23.625rem;
  height: 13.5rem;
  margin-left: -11.8125rem;
  margin-top: -6.75rem;
  top: 50%;
  left: 50%;
  padding: 1.5rem;
  position: fixed;
  box-sizing: border-box;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #dadfe6;
  border-radius: 4px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}

.tbs-dialog--alert > .tbs-dialog--alert-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tbs-dialog--alert > .tbs-dialog--alert-header > .tbs-dialog--alert-title {
  display: inline-block;
  color: #78909c;
  font-size: 1rem;
  line-height: 1rem;
  vertical-align: middle;
  margin-bottom: 0;
}

.tbs-dialog--alert > .tbs-dialog--alert-header > .tbs-nav--close-btn {
  cursor: pointer;
  background-size: 100% 100%;
  width: 1rem;
  height: 0.75rem;
  -webkit-mask-image: url(../img/close.png);
  background-color: #79919d;
}

.tbs-dialog--alert > .tbs-dialog--alert-header > .tbs-nav--close-btn:hover {
  background-color: #56c5f3;
}

.tbs-dialog--alert > .tbs-dialog--alert-text {
  width: 100%;
  color: #263238;
  font-size: 1.25rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.tbs-dialog--alert > .tbs-dialog--alert-footer {
  text-align: right;
  width: 100%;
}

.tbs-dialog--alert > .tbs-dialog--alert-footer > span {
  display: inline-block;
  width: 4.75rem;
  line-height: 2rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

.tbs-dialog--alert > .tbs-dialog--alert-footer > span.confirm-btn {
  color: #fff;
  background-color: #229bf7;
  border-radius: 2px;
  margin-right: .75rem;
}

.tbs-dialog--alert > .tbs-dialog--alert-footer > span.cancle-btn {
  color: #263238;
  background-color: white;
  position: relative;
}

.tbs-dialog--alert > .tbs-dialog--alert-footer > span.cancle-btn::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #dadfe6;
  border-radius: 2px;
}

.tbs-dialog--about {
  width: 45.25rem;
  height: 24.5rem;
  margin-left: -22.625rem;
  margin-top: -14.25rem;
  top: 50%;
  left: 50%;
  padding: 1.5rem;
  position: fixed;
  box-sizing: border-box;
  z-index: 99;
  background-color: #fff;
  border: 1px solid #dadfe6;
  border-radius: 4px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}

.tbs-dialog--about > .tbs-dialog--about-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tbs-dialog--about > .tbs-dialog--about-header > .tbs-dialog--about-title {
  display: inline-block;
  color: #78909c;
  font-size: 1rem;
  line-height: 1rem;
  vertical-align: middle;
  margin-bottom: 0;
}

.tbs-dialog--about > .tbs-dialog--about-header > .tbs-nav--close-btn {
  cursor: pointer;
  background-size: 100% 100%;
  width: 1rem;
  height: 0.75rem;
  -webkit-mask-image: url(../img/close.png);
  background-color: #79919d;
}

.tbs-dialog--about > .tbs-dialog--about-header > .tbs-nav--close-btn:hover {
  background-color: #56c5f3;
}

.tbs-dialog--about > .tbs-dialog--about-text {
  width: 90%;
  margin: 0 5%;
  color: #263238;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 0;
  padding-left: 0;
}

.tbs-dialog--about > .tbs-dialog--about-text > li {
  list-style-type: none;
  font-size: 1.25rem;
  padding: 1.25rem 0;
  text-align: left;
}

.tbs-dialog--about > .tbs-dialog--about-text > li:not(:last-child) {
  border-bottom: 1px #efefef solid;
}

.tbs-dialog--about > .tbs-dialog--about-text > li > .left {
  display: inline-block;
  width: 30%;
}

.tbs-dialog--about > .tbs-dialog--about-text > li > a {
  color: #263238;
  text-decoration: none;
}

.tbs-dialog--about > .tbs-dialog--about-text > li > a:hover {
  text-decoration: none;
  color:#229bf7;
}

.tbs-dialog--about > .tbs-dialog--about-text > li > .right {
  display: inline-block;
  width: 70%;
}

.tbs-dialog--about > .tbs-dialog--about-footer {
  text-align: center;
  width: 100%;
  color: #78909c;
}

.sidebar-interact-stat {
  position: relative;
  -webkit-user-select: none;
  z-index: 1;
}

.sidebar-interact-stat::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.sidebar-interact-stat:active::after, .sidebar-interact-stat:hover::after {
  background-color: rgba(255, 255, 255, 0.5);
}

.sidebar-interact-stat.active > .tbs-sidebar--btn {
  background-color: #263238 !important;
}

.sidebar-interact-stat.active > .tbs-sidebar--word {
  color: #263238 !important;
}

.sidebar-interact-stat.active::after {
  background-color: white;
}

.interact-stat {
  position: relative;
  -webkit-user-select: none;
  z-index: 1;
}

.interact-stat::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.interact-stat:hover::after {
  background-color: rgba(255, 255, 255, 0.1);
}

.interact-stat:active, .interact-stat.active {
  color: #263238;
}

.interact-stat:active::after, .interact-stat.active::after {
  background-color: rgba(0, 0, 0, 0.15);
}

@media (max-width: 1048px) {
  .tbs-step--content-top > p {
    width: 100% !important;
  }
  .tbs-step--content-top > .tbs-step--content-img {
    flex: 0 0 100% !important;
    padding-right: 0 !important;
  }
  .tbs-step--content-top > .tbs-step--content-img > img {
    flex-basis: 100% !important;
  }
}

@media (max-width: 724px) {
  #tbs-nav--menu.in, #tbs-nav--menu.collapsing {
    display: block;
  }
  .tbs-dialog--about {
    width: 100%;
    margin-left: 0;
    left: 0;
  }
  .tbs-sidebar {
    display: none !important;
  }
  .tbs-nav--btn {
    display: none !important;
  }
  .navbar-brand {
    position: static !important;
  }
  .tbs-main > .tbs-main--wrap > .tbs-main--content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .tbs-main > .tbs-main--wrap > .tbs-main--content > .tbs-begin--btn {
    width: 50%;
  }
}

@media (max-width: 378px) {
  .tbs-dialog--alert {
    width: 100%;
    margin-left: 0;
    left: 0;
  }
}


/*--弹出框设置--*/
.tbs-dialog--alert  .tbs-dialog--alert-smalltext {
  width: 100%;
  color: #78909c;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.5rem
}
.tbs-dialog--alert  .tbs-dialog--alert-text.align-left{
  text-align: left;
}
.tab-dialog--alert-progess{
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  width:100%;
}
.tab-dialog--alert-progess .progess{
  width:17.625rem;
  height:0.125rem;
  background-color: #EEEEEE;
  position: relative;
}
.tab-dialog--alert-progess .progess .progess-blue{
  background: url(../img/blue-progess.png) 0 0 no-repeat;
  height: 4px;
  position: absolute;
  top:-1px;
}
.tab-dialog--alert-progess .progess .progess-blue:before{
  content: "";
  display: inline-block;
  background: #229BF7;
  width:8px;
  height: 8px;
  border-radius: 50%;
  -webkit-border-radius:50%;
  position: absolute;
  top:-2px;
  left:98%;
}
.tab-dialog--alert-progess .progess .progess-green{
  background: url(../img/green-progess.png) 0 0 no-repeat;
  height: 4px;
  position: absolute;
  top:-1px;
}
.tab-dialog--alert-progess .progess .progess-green:before{
  content: "";
  display: inline-block;
  background: #09C75D;
  width:8px;
  height: 8px;
  border-radius: 50%;
  -webkit-border-radius:50%;
  position: absolute;
  top:-2px;
  left:98%;
}
.tab-dialog--alert-progess  .progess-number{
  font-size: 1rem;
  color:#09c75d;
}

/*--首页页面重构---*/
.mr15{
  margin-right: 15px;
}
.titlebar{
  -webkit-user-select: none;
  -webkit-app-region: drag;
}