/* 覆盖样式 */
.header .tbs-nav--btn {
  -webkit-app-region: no-drag;
}

.tbs-step--fail-word.hide {
	display: none;
}
.tbs-step--fail-word.show {
	display: inline-block;
}
.tbs-step--tab {
	font-size: 0.8rem;
	color: #60b9fb;
	margin-bottom: 20px;
}
.tbs-step--tab.hidden {
	display: none !important;
}
.tbs-step--tab.wx {
	display: block;
}
.tbs-step--tab i {
	display: inline-block;
    width: 0;
    height: 0;
    margin-right: 4px;
    border-top: 5px solid transparent;
    border-left: 6px solid #60b9fb;
    border-bottom: 5px solid transparent;
    border-right: 0px;
}
.tbs-step--tab.active i {
    border-top: 6px solid #60b9fb;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 0px;
}